@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.carousel {
    width: 100%;
    max-width: 500px;
    height: 530px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.image-container {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.image-container img {
    min-width: 100%;
    height: 500px;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rebeccapurple;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 49.5%;
}

.btn:hover {
    opacity: 0.8;
}

.btn:focus {
    outline: none;
}
